// I set some common variables to demonstrate the use of multiple SASS files.

$primary_color:#fff;
$black:#000;
$top_nav_bar_border_color:#8a0404;
$grey_one:#7b7474;
$grey_two:#e8e6e6;
$grey_background:#F0F0F0;
$main_background_color:#3b8ec2;


$main_font_size:16px;
$main_font_family:sans-serif;
